body {
  margin: 20px;
}

.form {
  margin: 25px 50px;
}
.checkbox {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.input_section {
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
}

input {
  margin: 0;
}

.seventy {
  width: 70%;
}

.name_input {
  display: flex;
  justify-content: space-between;
}

.name {
  width: 30%;
}

.button_section {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

button {
  margin: 5px;
  color: white;
  border: none;
  border-radius: 5px;
}

.submit {
  background-color: blue;
}

.reset {
  background-color: grey;
}
